POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=tradecorp

PGADMIN_EMAIL=admin@tradecorp.com
PGADMIN_PASSWORD=change_me

AZURE_STORAGE_ACCOUNT_NAME=your_storage_account
AZURE_STORAGE_ACCOUNT_KEY=your_storage_account_key
AZURE_RAW_CONTAINER=raw
AZURE_RAW_REFERENCE_PATH=reference
AZURE_CLEAN_CONTAINER=clean

LOCAL_TMP_DIR=/home/jovyan/data/tmp
CLEAN_OUTPUT_PATH=orders_enriched.parquet